



<div class="container card p-3 alert alert-primary">
<h4 class="text-center alert alert-success text-black">فرم ثبت اطلاعات  مشتریان و طرف حساب ها</h4>
<form action="/sale/Tafsili" method="post" class="row">

  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="name" class="form-label">نام و نام خانوادگی</label>
    <input required  type="text" class="form-control" id="name" placeholder="نام و نام خانوادگی">

     



  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="company" class="form-label">نام شرکت</label>
    <input type="text" class="form-control" id="company" placeholder="نام شرکت (در صورت وجود)">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="phone" class="form-label">شماره تلفن</label>
    <input type="tel" class="form-control" id="phone" placeholder="شماره تلفن">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="email" class="form-label">آدرس پست الکترونیکی</label>
    <input type="email" class="form-control" id="email" placeholder="آدرس پست الکترونیکی">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="address" class="form-label">آدرس محل سکونت (یا آدرس شرکت)</label>
    <input class="form-control" id="address" rows="3"></input>
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="mobile" class="form-label">شماره تلفن همراه</label>
    <input type="tel" class="form-control" id="mobile" placeholder="شماره تلفن همراه">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="postal-code" class="form-label">کد پستی</label>
    <input type="text" class="form-control" id="postal-code" placeholder="کد پستی">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="national-id" class="form-label">شناسه ملی (برای فردی)</label>
    <input type="text" class="form-control" id="national-id" placeholder="شناسه ملی (برای فردی)">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="company-reg-id" class="form-label">شماره ثبت شرکت (برای حقوقی)</label>
    <input type="text" class="form-control" id="company-reg-id" placeholder="شماره ثبت شرکت (برای حقوقی)">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="customer-id" class="form-label">شماره مشتری (در صورت وجود)</label>
    <input type="text" class="form-control" id="customer-id" placeholder="شماره مشتری (در صورت وجود)">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="birthdate" class="form-label">تاریخ تولد (برای فردی)</label>
    <input type="date" class="form-control" id="birthdate">
  </div>
  <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
    <label for="national-code" class="form-label">کد ملی (برای فردی)</label>
    <input type="text" class="form-control" id="national-code" placeholder="کد ملی (برای فردی)">
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<label for="bank-account" class="form-label">شماره حساب بانکی</label>
<input type="text" class="form-control" id="bank-account" placeholder="شماره حساب بانکی">
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<label for="bank-name" class="form-label">نام بانک</label>
<input type="text" class="form-control" id="bank-name" placeholder="نام بانک">
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<label for="bank-branch" class="form-label">شعبه بانک</label>
<input type="text" class="form-control" id="bank-branch" placeholder="شعبه بانک">
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<button type="submit" class="btn btn-primary form-control mt-4">ثبت اطلاعات</button>
</div>
</form>




</div>

