@model VM_User;
<div class="container card p-3 alert alert-primary">

<h4 class="text-center alert alert-info text-black">فرم ثبت اطلاعات پرسنل</h4>
<form action="AddToDb" method="POST" class="row" enctype="multipart/form-data">
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<label for="name">نام و نام خانوادگی:</label>
<input type="text" class="form-control" id="name" name="name" asp-for="Name" required>
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<label for="email">ایمیل:</label>
<input type="email" class="form-control" id="email" name="email" asp-for="Email" required>
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<label for="phone">شماره تلفن:</label>
<input type="tel" class="form-control" id="phone" name="phone" asp-for="Phone" required>
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<label for="phone">رمز عبور:</label>
<input type="text" class="form-control"  asp-for="PassWord" required>
</div>


<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 custom-control custom-switch">
<label for="position">دسترسی:</label>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="NaghdiStatus">
  <label class="custom-control-label" for="customSwitch1">نقدی</label>
  <br>
    <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="SaderatStatus">
  <label class="custom-control-label" for="customSwitch1">صادرات</label>
  <br>
    <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="LcStatus">
  <label class="custom-control-label" for="customSwitch1">LC</label>
  <br>
    <input type="checkbox" class="custom-control-input" id="customSwitch1" asp-for="AdminStatus">
  <label class="custom-control-label" for="customSwitch1">Admin</label>
  <br>



</div>
</div>
<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
<label for="image">عکس پرسنلی:</label>
<input type="file" class="form-control" id="image" name="image" accept="image/*" multiple asp-for="img">
</div>
<div class="col-12 text-center my-3">
<img src="https://placehold.it/150x150" alt="عکس پرسنلی" class="img-fluid rounded-circle" id="preview-image">
</div>
<button type="submit" class="btn btn-primary">ثبت</button>
</form>
</div>

<script>
// تغییر آدرس به یک فیلد اینپوت
document.querySelector('#address').outerHTML = '<input type="text" class="form-control" id="address" name="address" required>';

// نمایش پیش فرض عکس در هنگام بارگذاری
const inputImage = document.querySelector('#image');
const previewImage = document.querySelector('#preview-image');

inputImage.addEventListener('change', function(event) {
	previewImage.src = URL.createObjectURL(event.target.files[0]);
});
</script>