
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/icons/brands/KDTLogo.png">

    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css">

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css">
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/rtl.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css">
     <link rel="stylesheet" href="~/assets/vendor/libs/bs-stepper/bs-stepper.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/tagify/tagify.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/flatpickr/flatpickr.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css">
    @* picker *@
       <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/jquery-timepicker/jquery-timepicker.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/pickr/pickr-themes.css">




    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>

    <style>
              
            html,body{
    height:297mm;
    width:210mm;
}
        body{
            background-color: #FCFEFF;
        }



        .img{
            
           width: 1200px;
            height: 380px;
            background-repeat: no-repeat;
        }
                .img2{
                       width: 1004px;

                height: 217px;
            background-repeat: no-repeat;
        }
        div{

            color: #000;
        }
        table, th, td {

  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th{

}

.three-columns {
  width: 33.33%;
}


      * {
        box-sizing: border-box;
      }

      .horizontal-tb {
        writing-mode: horizontal-tb;
      }

      .vertical-rl {
        writing-mode: vertical-rl;
      }

      .vertical-lr {
        writing-mode: vertical-lr;
      }

      .sideways-lr {
        writing-mode: sideways-lr;
      }

      .sideways-rl {
        writing-mode: sideways-rl;
      }

            .box { 
                text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
      .mixed {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }

      .upright {
        writing-mode: vertical-rl;
        text-orientation: upright;
      }

      .rotate {

  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}




                    html,body{
    height:297mm;
    width:210mm;

    background-color: #FEFEFE !important;
}
    aside ul li a {

       border: 1px solid #892e33;
       margin-left:3px  !important;
         margin-right:3px  !important;
       font-weight: bolder;
       color: #892e33  !important;
      }
      li:hover{
        background-color: #cba2a5(191, 239, 133) !important;
        color: black  !important;
      }
      option{
        font-weight: bolder;
      }
      hr{
        border-top: 1px solid #892e33 !important;
      }

      .form-select,input{
        border: 1px solid rgb(62, 62, 64) !important;
      }
     

  td > select{
  min-width: 100px !important;
}

td,tr{
  padding: 2px !important;
}
th{
  font-size: 15px !important;
}
      
   .select2-container--open .select2-dropdown {
    left: -17% !important;
    margin-top: -50px;
    
}



.select2-container--open .select2-dropdown--above {
   
    width: max-content !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 100px !important;
   
    
}

.select2{
 width: max-content;}


 .select2-dropdown {
  width: max-content !important;
 
}

.img1{
    position: fixed;
    width: 100%;
    height: auto;

}





    </style>
            <!-- build:js assets/vendor/js/core.js -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>

    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="~/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/assets/js/dashboards-ecommerce.js"></script>
     @* date picker *@
        <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/moment/moment.js"></script>
    <script src="~/assets/vendor/libs/jdate/jdate.js"></script>
    <script src="~/assets/vendor/libs/flatpickr/flatpickr-jdate.js"></script>
    <script src="~/assets/vendor/libs/flatpickr/l10n/fa-jdate.js"></script>
    <script src="~/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="~/assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
    <script src="~/assets/vendor/libs/pickr/pickr.js"></script>
      <!-- Page JS -->
    <script src="~/assets/js/forms-pickers.js"></script>


     <!-- date shamsi -->
    <script src="~/assets/js/persian-date.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="~/assets/img/icons/brands/kdt1.jpg" class="img1" alt="">
        <center>
        <table class=""  >
                <tr  style="border-collapse: collapse;border: 2px solid black;" >

                        <td style="background: #000;"></td>
                        <td colspan="5">
                        شماره پیش فاکتور: <p style="display:inline;font-weight:bold;">1044-402</p>
                        </td>
                        <td colspan="2">
                        تاریخ صدور: <p style="display:inline;font-weight:bold;">۱۴۰۲/۰۵/۱۹</p>
                        </td>
                        <td colspan="2">
                        تاریخ اعتبار: <p style="display:inline;font-weight:bold;">1402/05/19</p>

                        </td>
                </tr>
                <tr  style="border-collapse: collapse;border: 2px solid black; " >
                    <th colspan="1" style="  border: 1px solid black;border-collapse: collapse;text-align: center ;" class="box vertical-rl  m-1" >
                        فروشنده
                    </th>
                    <td colspan="10" style=" text-align:right;" >
                        <p style="font-size: large; font-weight:bolder;display:inline; ">شرکت فولاد خرمدشت تاکستان</p>
                        <br>
                        <p style="display:inline;  ">شماره ثبت : <b>1609</b></p>
                        <p style="display:inline;   margin-right: 15px; ">شناسه ملی : <b>10862006454</b></p>
                        <p style="display:inline;   margin-right: 15px;"> شماره اقتصادی : <b>411369935839</b></p>
                        <p style="display:inline;   margin-right: 15px;"> کد پستی : 3483197457</p>
                        <br>

                        <p style="display:inline;">نشانی : تاکستان شهرک صنعتی خرمدشت بلوک فلزات قطعه ۲</p>
                        <p style="display:inline; margin-right: 50px;">تلفن : <b>22759227-021</b></p>
                    </td>
                </tr>


                <tr  style="border-collapse: collapse;border: 2px solid black;" >
                    <th colspan="1" style="  border: 1px solid black;border-collapse: collapse;text-align: center ;" class="box vertical-rl m-1" >
                        خریدار
                    </th>
                    <td colspan="10" style=" text-align:right;" >
                        <p style="font-size: large; font-weight:bolder;display:inline; ">شرکت تجارت فولاد آریا تاک</p>
                        <br>
                        <p style="display:inline;  ">شماره ثبت : <b>2977</b></p>
                        <p style="display:inline;   margin-right: 75px; ">شناسه ملی : <b>14010746898</b></p>
                        <p style="display:inline;   margin-right: 75px;"> کد پستی : 1989819964</p>
                        <br>

                        <p style="display:inline;">نشانی : تهران میدان تجریش خیابان شهید غلام جعفری برج تندیس پلاک ۱۹ ط ۳ واحد ۳۰۱</p>
                    </td>
                </tr>


                <tr>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center  ;" class="box vertical-lr m-1" >ردیف</th>
                    <th style="  border: 1px solid black;border-collapse: collapse;text-align: center;" >شرح کالا</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مقدار</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">واحد</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مبلغ واحد (ریال)</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مبلغ کل (ریال)</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مبلغ تخفیف </th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مبلغ پس از کسر تخفیف (ریال) </th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;"> جمع مالیات ارزش افزوده </th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;"> مانده کل (ریال)</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>شمش سنقر</td>
                    <td>160,158</td>
                    <td>Kg</td>
                    <td>185,322</td>
                    <td>29,680,800,876</td>
                    <td>66,931</td>
                    <td>29,680,733,945</td>
                    <td>2,671,266,055</td>
                    <td>32,352,000,000</td>

                </tr>

                <tr>
                    <td>2</td>
                    <td>شمش کاوه</td>
                    <td>50,00</td>
                    <td>Kg</td>
                    <td>185,322</td>
                    <td>9,266,100,000</td>
                    <td>44,954</td>
                    <td>9,680,733,945</td>
                    <td>2,671,266,055</td>
                    <td>19,352,000,000</td>

                </tr>

                <tr>
                    <td colspan="2">
                        <b>جمع وزن</b>
                    </td>
                    <td>304,433</td>
                    <td>Kg</td>
                </tr>

                <tr>
                    <td colspan="9" style="text-align: right;">
                        <b>
                            جمع کل : <p style="display: inline; ">شصت و یک ملیارد و ،،،،</p>
                        </b>
                    </td>

                    <td  >
                        61,497,660,000
                    </td>
                </tr>

                <tr>
                    <td colspan="10" style="text-align: right;">
                        <b>شرایط و نحوه فروش :</b>
                        <br>
                        ۱) <b>نحوه پرداخت :</b> نقدا به حساب شماره <b>IR940120020000008383928276</b> بنام فولاده خرمدشت تاکستان نزد بانک <b>ملت</b> شعبه <b>میدان تجریش</b> واریز گردد.
                        <br>
                        ۲) هزینه های حمل به عهده خریدار می باشد .
                        <br>
                        ۳) پیش فاکتور باتوجه به عدم قطعیت معامله و در صورت واریز وجه ، تغییرات در وزن بار تحویل ، قابلیت ارسال در سامانه گزارشات فصلی را ندارد .
                        <br>
                        <br>
                        <br>
                        <p style="margin-right: 50px;">تنظیم کننده:</p>
                        <br>
                        <br>
                        <p style="margin-right: 80%;font-weight: bolder; ">
                            
                            مهر و امضا واحد فروش
                            </p><p style="margin-top: -15px;margin-right: 78%;font-weight: bolder;">
                            شرکت فولاد خرمدشت تاکستان
                        </p>
                    </td >
                </tr>

        </table>
        </center>
    <img src="~/assets/img/icons/brands/kdt.jpg" class="img1" alt="">


    <script>
      var tarikh = new persianDate();
      document.getElementById('t').innerText= tarikh.toLocale('fa').format("YYYY | dddd | DD MMMM")   //example => ۱۴۰۰-۰۴-۱۸ ۱۵:۳۲:۳۲ ب ظ


       


    </script>


</body>
</html>