<style>
          body {
        background: url(../assets/img/icons/brands/16.jpg) no-repeat center
          center fixed;
        -webkit-background-size: fixed;
        -moz-background-size: fixed;
        -o-background-size: fixed;
        background-size: fixed;
      }
</style>

<body>
    

</body>