@{
    Layout= "~/Views/Shared/_SaderatLayout.cshtml";
}
@model VM_dolari;
<html>
<head>
<style>

  td,tr{

    border:0.5px solid  rgb(0, 0, 0);
    white-space: nowrap;
    text-align: center;

    }
    tr:hover{
      background-color: rgb(188, 189, 182);
      color: rgb(1, 1, 1);

    }
    .selected {
       background-color: rgb(170, 173, 163);
      color: rgb(2, 2, 2);
    }
     .row > * {

    padding-right: 0 !important;
    padding-left: 2px !important;

}

option{
    white-space: nowrap !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #00684A;
}

.btn-primary {
  color: #fff;
  background-color: #00684A;
  border-color: #00684A;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #00684A;
  border-color: #00684A;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


#drop-area
{
    width: 500px;
    height: 300px;
    padding: 30px;
    background: #fff;
    text-align: center;
    border-radius: 20px;

}
#img-view
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff;
    background-position: center;
    background-size: cover;

}

#img-view img
{
    width: 100px;
    margin-top: 25px;
}

#img-view span
{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}




</style>
<script src="/wwwroot/js/drag&upload.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<link rel="stylesheet" href="css/persian.datepicker.css"/>
</head>

    <form action="/Documentss/AddDolarToDb" method="post" enctype="multipart/form-data">
        <script src="js/jquery.js"></script>
        <script src="js/persian.date.js"></script>
        <script src="js/persian.datepicker.js"></script>
<div class="card p-3" style="zoom: 90%;">


    <div class="row p-3">


        <div class=" ">




        <div class="col-12 card mt-1   " style="overflow-x: scroll;">
                        @* <div class="row justify-content-center text-center">
                <div class="col-4 mt-3  ">
                    <div class="input-group">
                        <input type="text" class="form-control text-center"
                            placeholder="برای جستجو متن رو وارد کنید ..."
                            aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button"
                            id="button-addon2">جستوجو</button>
                    </div>
                </div>

            </div> *@
                <div style="">
                 <p class="text-center btn btn-primary form-control text-center p-1" >سند نقدی </p>
                </div>
            <div class="card-body " style="overflow-x: scroll;overflow-y: scroll;">

                <table class="table table-bordered " id="myTable">

                    <tr style="background-color: whitesmoke;">
                        <th >ردیف</th>
                        <th>تاریخ صدور پیش فاکتور</th>
                        <th>تاریخ اعتبار پیش فاکتور</th>
                        <th>نام خریدار <a href="/Documentss/KharidarDolari">+</a></th>
                        <th> نام واسطه</th>
                        <th>نام محصول <a href="/Documentss/mahsolSa">+</a></th>
                        <th>مقصد حمل</th>
                        <th>تناژ</th>
                        <th>فی</th>
                        <th>کمیسیون واسطه</th>
                        <th>شرایط تحویل</th>
                        <th>محل تحویل دلار</th>
                        <th>مبلغ قابل اظهار</th>
                        <th>مبلغ نهایی</th>
                        <th>عملیات</th>



                    </tr>





                    <tr>
                        <td>
                           -
                        </td>
                        <td>
                            <input dir="ltr" type="date" class="form-control text-center text-center " placeholder="0" asp-for="Tarikhsodor" id="date" required>
    @* <input  data-jdp placeholder="لطفا یک تاریخ وارد نمایید" class="form-control text-center text-center"  />                          *@



                        </td>
                        <td>
    @* <input  data-jdp placeholder="لطفا یک تاریخ وارد نمایید" class="form-control text-center text-center"  />                          *@

                            <input dir="ltr" type="date" class="form-control text-center text-center " placeholder="0" asp-for="TarikhEtebar" required>
                        </td>

                        <td>
                            <select  class="form-select select2" placeholder="انتخاب" asp-for="SherkatId" asp-items="@ViewBag.kharidar" required>
                                <option value="">انتخاب</option>


                            </select>
                        </td>
                        <td>
                            <input  type="text" class="form-control text-center text-center" asp-for="NameVasete" required >
                        </td>
                        <td>
                            <select  class="form-select select2" placeholder="انتخاب" asp-for="NameMahsol" asp-items="@ViewBag.Mahsol" required>
                                <option value="">انتخاب</option>


                            </select>
                        </td>
                         <td>
                            <select  class="form-select select2" placeholder="انتخاب" asp-for="MaghsadHaml"  required>

                              <!-- Country names and Country Name -->
                                <option value="">انتخاب</option>
    <option value="Afghanistan">Afghanistan</option>
    <option value="Aland Islands">Aland Islands</option>
    <option value="Albania">Albania</option>
    <option value="Algeria">Algeria</option>
    <option value="American Samoa">American Samoa</option>
    <option value="Andorra">Andorra</option>
    <option value="Angola">Angola</option>
    <option value="Anguilla">Anguilla</option>
    <option value="Antarctica">Antarctica</option>
    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
    <option value="Argentina">Argentina</option>
    <option value="Armenia">Armenia</option>
    <option value="Aruba">Aruba</option>
    <option value="Australia">Australia</option>
    <option value="Austria">Austria</option>
    <option value="Azerbaijan">Azerbaijan</option>
    <option value="Bahamas">Bahamas</option>
    <option value="Bahrain">Bahrain</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="Barbados">Barbados</option>
    <option value="Belarus">Belarus</option>
    <option value="Belgium">Belgium</option>
    <option value="Belize">Belize</option>
    <option value="Benin">Benin</option>
    <option value="Bermuda">Bermuda</option>
    <option value="Bhutan">Bhutan</option>
    <option value="Bolivia">Bolivia</option>
    <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
    <option value="Botswana">Botswana</option>
    <option value="Bouvet Island">Bouvet Island</option>
    <option value="Brazil">Brazil</option>
    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
    <option value="Brunei Darussalam">Brunei Darussalam</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Burkina Faso">Burkina Faso</option>
    <option value="Burundi">Burundi</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Cameroon">Cameroon</option>
    <option value="Canada">Canada</option>
    <option value="Cape Verde">Cape Verde</option>
    <option value="Cayman Islands">Cayman Islands</option>
    <option value="Central African Republic">Central African Republic</option>
    <option value="Chad">Chad</option>
    <option value="Chile">Chile</option>
    <option value="China">China</option>
    <option value="Christmas Island">Christmas Island</option>
    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
    <option value="Colombia">Colombia</option>
    <option value="Comoros">Comoros</option>
    <option value="Congo">Congo</option>
    <option value="Congo, Democratic Republic of the Congo">Congo, Democratic Republic of the Congo</option>
    <option value="Cook Islands">Cook Islands</option>
    <option value="Costa Rica">Costa Rica</option>
    <option value="Cote D'Ivoire">Cote D'Ivoire</option>
    <option value="Croatia">Croatia</option>
    <option value="Cuba">Cuba</option>
    <option value="Curacao">Curacao</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Czech Republic">Czech Republic</option>
    <option value="Denmark">Denmark</option>
    <option value="Djibouti">Djibouti</option>
    <option value="Dominica">Dominica</option>
    <option value="Dominican Republic">Dominican Republic</option>
    <option value="Ecuador">Ecuador</option>
    <option value="Egypt">Egypt</option>
    <option value="El Salvador">El Salvador</option>
    <option value="Equatorial Guinea">Equatorial Guinea</option>
    <option value="Eritrea">Eritrea</option>
    <option value="Estonia">Estonia</option>
    <option value="Ethiopia">Ethiopia</option>
    <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
    <option value="Faroe Islands">Faroe Islands</option>
    <option value="Fiji">Fiji</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="French Guiana">French Guiana</option>
    <option value="French Polynesia">French Polynesia</option>
    <option value="French Southern Territories">French Southern Territories</option>
    <option value="Gabon">Gabon</option>
    <option value="Gambia">Gambia</option>
    <option value="Georgia">Georgia</option>
    <option value="Germany">Germany</option>
    <option value="Ghana">Ghana</option>
    <option value="Gibraltar">Gibraltar</option>
    <option value="Greece">Greece</option>
    <option value="Greenland">Greenland</option>
    <option value="Grenada">Grenada</option>
    <option value="Guadeloupe">Guadeloupe</option>
    <option value="Guam">Guam</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Guernsey">Guernsey</option>
    <option value="Guinea">Guinea</option>
    <option value="Guinea-Bissau">Guinea-Bissau</option>
    <option value="Guyana">Guyana</option>
    <option value="Haiti">Haiti</option>
    <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
    <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
    <option value="Honduras">Honduras</option>
    <option value="Hong Kong">Hong Kong</option>
    <option value="Hungary">Hungary</option>
    <option value="Iceland">Iceland</option>
    <option value="India">India</option>
    <option value="Indonesia">Indonesia</option>
    <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
    <option value="Iraq">Iraq</option>
    <option value="Ireland">Ireland</option>
    <option value="Isle of Man">Isle of Man</option>
    <option value="Israel">Israel</option>
    <option value="Italy">Italy</option>
    <option value="Jamaica">Jamaica</option>
    <option value="Japan">Japan</option>
    <option value="Jersey">Jersey</option>
    <option value="Jordan">Jordan</option>
    <option value="Kazakhstan">Kazakhstan</option>
    <option value="Kenya">Kenya</option>
    <option value="Kiribati">Kiribati</option>
    <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
    <option value="Korea, Republic of">Korea, Republic of</option>
    <option value="Kosovo">Kosovo</option>
    <option value="Kuwait">Kuwait</option>
    <option value="Kyrgyzstan">Kyrgyzstan</option>
    <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
    <option value="Latvia">Latvia</option>
    <option value="Lebanon">Lebanon</option>
    <option value="Lesotho">Lesotho</option>
    <option value="Liberia">Liberia</option>
    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
    <option value="Liechtenstein">Liechtenstein</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Macao">Macao</option>
    <option value="Macedonia, the Former Yugoslav Republic of">Macedonia, the Former Yugoslav Republic of</option>
    <option value="Madagascar">Madagascar</option>
    <option value="Malawi">Malawi</option>
    <option value="Malaysia">Malaysia</option>
    <option value="Maldives">Maldives</option>
    <option value="Mali">Mali</option>
    <option value="Malta">Malta</option>
    <option value="Marshall Islands">Marshall Islands</option>
    <option value="Martinique">Martinique</option>
    <option value="Mauritania">Mauritania</option>
    <option value="Mauritius">Mauritius</option>
    <option value="Mayotte">Mayotte</option>
    <option value="Mexico">Mexico</option>
    <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
    <option value="Moldova, Republic of">Moldova, Republic of</option>
    <option value="Monaco">Monaco</option>
    <option value="Mongolia">Mongolia</option>
    <option value="Montenegro">Montenegro</option>
    <option value="Montserrat">Montserrat</option>
    <option value="Morocco">Morocco</option>
    <option value="Mozambique">Mozambique</option>
    <option value="Myanmar">Myanmar</option>
    <option value="Namibia">Namibia</option>
    <option value="Nauru">Nauru</option>
    <option value="Nepal">Nepal</option>
    <option value="Netherlands">Netherlands</option>
    <option value="Netherlands Antilles">Netherlands Antilles</option>
    <option value="New Caledonia">New Caledonia</option>
    <option value="New Zealand">New Zealand</option>
    <option value="Nicaragua">Nicaragua</option>
    <option value="Niger">Niger</option>
    <option value="Nigeria">Nigeria</option>
    <option value="Niue">Niue</option>
    <option value="Norfolk Island">Norfolk Island</option>
    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
    <option value="Norway">Norway</option>
    <option value="Oman">Oman</option>
    <option value="Pakistan">Pakistan</option>
    <option value="Palau">Palau</option>
    <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
    <option value="Panama">Panama</option>
    <option value="Papua New Guinea">Papua New Guinea</option>
    <option value="Paraguay">Paraguay</option>
    <option value="Peru">Peru</option>
    <option value="Philippines">Philippines</option>
    <option value="Pitcairn">Pitcairn</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Puerto Rico">Puerto Rico</option>
    <option value="Qatar">Qatar</option>
    <option value="Reunion">Reunion</option>
    <option value="Romania">Romania</option>
    <option value="Russian Federation">Russian Federation</option>
    <option value="Rwanda">Rwanda</option>
    <option value="Saint Barthelemy">Saint Barthelemy</option>
    <option value="Saint Helena">Saint Helena</option>
    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
    <option value="Saint Lucia">Saint Lucia</option>
    <option value="Saint Martin">Saint Martin</option>
    <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
    <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
    <option value="Samoa">Samoa</option>
    <option value="San Marino">San Marino</option>
    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
    <option value="Saudi Arabia">Saudi Arabia</option>
    <option value="Senegal">Senegal</option>
    <option value="Serbia">Serbia</option>
    <option value="Serbia and Montenegro">Serbia and Montenegro</option>
    <option value="Seychelles">Seychelles</option>
    <option value="Sierra Leone">Sierra Leone</option>
    <option value="Singapore">Singapore</option>
    <option value="Sint Maarten">Sint Maarten</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Solomon Islands">Solomon Islands</option>
    <option value="Somalia">Somalia</option>
    <option value="South Africa">South Africa</option>
    <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
    <option value="South Sudan">South Sudan</option>
    <option value="Spain">Spain</option>
    <option value="Sri Lanka">Sri Lanka</option>
    <option value="Sudan">Sudan</option>
    <option value="Suriname">Suriname</option>
    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
    <option value="Swaziland">Swaziland</option>
    <option value="Sweden">Sweden</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
    <option value="Taiwan, Province of China">Taiwan, Province of China</option>
    <option value="Tajikistan">Tajikistan</option>
    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
    <option value="Thailand">Thailand</option>
    <option value="Timor-Leste">Timor-Leste</option>
    <option value="Togo">Togo</option>
    <option value="Tokelau">Tokelau</option>
    <option value="Tonga">Tonga</option>
    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
    <option value="Tunisia">Tunisia</option>
    <option value="Turkey">Turkey</option>
    <option value="Turkmenistan">Turkmenistan</option>
    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
    <option value="Tuvalu">Tuvalu</option>
    <option value="Uganda">Uganda</option>
    <option value="Ukraine">Ukraine</option>
    <option value="United Arab Emirates">United Arab Emirates</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="United States">United States</option>
    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
    <option value="Uruguay">Uruguay</option>
    <option value="Uzbekistan">Uzbekistan</option>
    <option value="Vanuatu">Vanuatu</option>
    <option value="Venezuela">Venezuela</option>
    <option value="Viet Nam">Viet Nam</option>
    <option value="Virgin Islands, British">Virgin Islands, British</option>
    <option value="Virgin Islands, U.s.">Virgin Islands, U.s.</option>
    <option value="Wallis and Futuna">Wallis and Futuna</option>
    <option value="Western Sahara">Western Sahara</option>
    <option value="Yemen">Yemen</option>
    <option value="Zambia">Zambia</option>
    <option value="Zimbabwe">Zimbabwe</option>


                            </select> 
                          </td>
                         <td>
                            <input dir="ltr"   type="number" min="0"  class="form-control text-center text-center"   asp-for="Tonazh" id="tonazh" placeholder="0"  required >
                        </td>
                         <td>
                            <input dir="ltr"   type="number" min="0"  class="form-control text-center text-center" asp-for="Fi" id="fi" placeholder="0" required >
                        </td>
                         <td>
                            <input  dir="ltr"  type="number" min="0"   class="form-control text-center text-center"  asp-for="Komision" id="ko" placeholder="0" required >
                        </td>
                        <td>
                            <select  class="form-select select2" placeholder="انتخاب" asp-for="SharayetTahvil" required>
                                <option value="">انتخاب</option>
                                <option value="EXW">EXW</option>
                                <option value="FCA">FCA</option>
                                <option value="FOB">FOB</option>


                            </select>
                        </td>
                        <td>
                            <select  class="form-select select2" placeholder="انتخاب" asp-for="Hesab"  required>
                                <option value="">انتخاب</option>
                                <option value="دلار تهران">دلار - تهران</option>
                                <option value="دلار بانک">دلار - بانک ملی</option>
                                <option value="دلار ترکیه">دلار - ترکیه</option>
                                <option value="دلار عراق">دلار - عراق</option>
                                <option value="درهم">درهم - دبی</option>

                            </select>
                        </td>
                        <td>
                            <p id="mga"></p>
                        </td>

                         <td>
                            <p id="mn"></p>
                        </td>



                        <td >
                            <a class="btn btn-warning" onclick="sum()" style="zoom: 90%;">محاسبه اولیه
                        </td> 





                    </tr>

                </table>

            </div>
        </div>


         <div class="col-12 card mt-3 " style="zoom: 110%;">

            <div class=" text-center  row text-center justify-content-center mb-3 ">
                <p class="text-center btn btn-primary form-control text-center p-1">تایید و پیوست عکس پیش فاکتور </p>




            </div>
            <div>

            </div>





            <div class="card-body">
                <div class=" text-center">

                    <div class="hero">

                        <label for="input-file" id="drop-area">
                            <input class="upload" type="file"  accept="image/*"    id="input-file" asp-for="Img" hidden multiple>
                            <div id="img-view">
                            <img src="../../assets/img/avatars/508-icon-2.png" >
                            <p style="margin: 10px;">برای بارگذاری عکس کلیک کنید یا عکس را اینجا بکشید</p>
                            <span style="margin-bottom: 15px;">بارگذاری پیوست</span>
                            </div>
                        </label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">تایید</button>

</form>
                </div>


            </div>


</div>

<script>



const dropArea = document.getElementById("drop-area");
const inputFile = document.getElementById("input-file");
const imageView = document.getElementById("img-view");
inputFile.addEventListener("change", uploadImage);
function uploadImage()
{

    let imgLink = URL.createObjectURL(inputFile.files[0]);
    imageView.style.backgroundImage = `url(${imgLink})`;
    imageView.textContent="";
    imageView.style.border=0;



}

dropArea.addEventListener("dragover", function(e)
{
    e.preventDefault();
});
dropArea.addEventListener("drop", function(e)
{
    e.preventDefault();
    inputFile.files= e.dataTransfer.files;
    uploadImage();
});


</script>




</div>



<script>
            $('.select2').select2();
    $("#date").persianDatepicker();
</script>

<script>

        function  sum() {

                
        var fi = parseInt(document.getElementById("fi").value);
        var tonazh = parseInt(document.getElementById("tonazh").value);
        var ko = parseInt(document.getElementById("ko").value);
        var mn =tonazh * fi;
        var mga = (fi-ko)*tonazh;
        document.getElementById("mga").innerHTML=mga;
        document.getElementById("mn").innerHTML=mn;

}
</script>

<script>
        // Get all table rows
    const rows = document.querySelectorAll("#myTable tr");

    // Add click event listener to each row
    rows.forEach(row => {
      row.addEventListener("click", function() {
        // Remove the 'selected' class from all rows
        rows.forEach(row => {
          row.classList.remove("selected");
        });

        // Add the 'selected' class to the clicked row
        this.classList.add("selected");
      });
    });




        // Get all table rows
    const rows = document.querySelectorAll("#myTable tr");

    // Add click event listener to each row
    rows.forEach(row => {
        row.addEventListener("click", function () {
            // Remove the 'selected' class from all rows
            rows.forEach(row => {
                row.classList.remove("selected");
            });

            // Add the 'selected' class to the clicked row
            this.classList.add("selected");
        });
    });

</script>






<script>
  jalaliDatepicker.startWatch({
  minDate: "attr",
  maxDate: "attr"
}); 
</script>







